<!DOCTYPE html>
<html>
<head>
  <title>Edit Tracks</title>
</head>
<body>
  <center>
    <h3> Edit Track </h3>

  <%= @track.errors.first %>


<%= form_for @track, :url =>{:action => "create", :id =>@track} do |f| %>

  <div class="col-auto">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Name</span>
        </div>
        <%= f.text_field :name %>
      </div>
  </div>

  <div class="col-auto">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Album</span>
        </div>
        <%= f.collection_select(:album_id, Album.all, :id, :title)%>
      </div>
    </div>

    <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Media type</span>
          </div>
          <%= f.collection_select(:media_type_id, MediaType.all, :id, :name) %>
        </div>
    </div>

    <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Genre</span>
          </div>
          <%= f.collection_select(:genre_id, Genre.all, :id, :name) %>
        </div>
      </div>

      <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Composer</span>
            </div>
            <%= f.text_field :composer %>
          </div>
      </div>

      <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Milliseconds</span>
            </div>
            <%= f.text_field :milliseconds %>
          </div>
        </div>

        <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Size (bytes)</span>
              </div>
              <%= f.text_field :bytes %>
            </div>
        </div>

        <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Unit-price</span>
              </div>
              <%= f.text_field :unit_price %>
            </div>
          </div>

          <%= f.submit 'Save', class: "btn btn-primary" %>

          <%= link_to "Cancel", "/tracks", class: "btn btn-secondary" %>
<% end %>
  </center> 
</body>
</html>