<!DOCTYPE html>
<html>
<head>
	<title>Show Tracks</title>
</head>
<body>

	<h3>Showing tracks</h3>

	<%= link_to  "Edit", edit_track_path, class: "btn btn-outline-info mb-3" %>
<div class="container">
	<fieldset>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= @track.name %></h5>
      <p class="card-text"><b> ID: </b> <%= @track.id %> </p>
      <p class="card-text"><b> Album: </b> <%= @track.album.title %> </p>
      <p class="card-text"><b> Media Type: </b> <%= @track.media_type.name %></p>
      <p class="card-text"><b> Genre: </b> <%= @track.genre.name %> </p>
      <p class="card-text"><b> Composer: </b> <%= @track.composer %> </p>
      <p class="card-text"><b> Milliseconds: </b> <%= @track.milliseconds %> </p>
      <p class="card-text"><b> Size (bytes): </b> <%= @track.bytes %> </p>
      <p class="card-text"><b> Unit Price: </b> <%= @track.unit_price %> </p>
      <p class="card-text"><b> Created at: </b> <%= formatar(@track.created_at) %> </p>
      <p class="card-text"><b> Updated at: </b> <%= formatar(@track.updated_at) %> </p>
      <%= link_to  "Go to Album", "/albums/#{@track.album.id}", class: "btn btn-primary" %>
    </div>
  </div>
  <a href="/tracks">
      <button type="button" class="btn btn-outline-success">Return to Tracks</button>
    </a>
</fieldset>
	
</div>

</body>
</html>