
<br>	
<div class="container">

	<h3>Artists List
		<label class="d-inline p-1 bg-primary text-white rounded-pill "><%= Artist.count%></label> 			
		<p class="text-secondary">Click name to see album.</p></h3>
		<%= form_tag("/artists", method: "get") do %>
		<form>
			<div class="col-7">
				<div class="form-row align-items-center">
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<%= label_tag(:name, "Artist:", class: "input-group-text") %>
						</div>
						<%= text_field_tag(:name, params['name'], class: "mr-3") %>
						<%= submit_tag("Search", class: "btn btn-outline-success mr-2") %>
					</div>
				</div>
			</div>
		</form>
		<% end %>
		<div class="row">
			<div class="list-group">

				<!-- EXIBIR NOME DOS ARTISTAS / AÇÃO EM SHOW DE ARTISTS -->

				<% @artists.each do |ar| %>

				<li class="list-group-item list-group-item">
					<%= link_to ar.name, action: "show", id: ar %>

				</li>
				<% end -%>
			</div>	
		</div>
	</div>


