<!DOCTYPE html>
<html>
<head>
	<title>Artist Albums</title>
</head>
<body>
	<center>
		<h3> <%= @artist.name %> Albums</h3><br>

	<% @albums.each do |alb| %>

	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">
				<%= alb.title %>
			</h5>

			<!-- DUVIDA COMO MOSTRAR -->

			<p class="card-text"> Tracks: <%= alb.tracks.count %> </p>
			<p class="card-text"> Created at: <%= formatar(alb.created_at) %> </p>
			<p class="card-text"> Update at: <%= formatar(alb.updated_at) %> </p>


			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
		<% end %>

	</center>
</body>
</html>
