<!DOCTYPE html>
<html>
<head>
	<title>Edit Albums</title>
</head>
<body>
	<center>
		<br>
		<h3><p class="text-secondary">Edit Album</p></h3>


			<%= form_for @album, :url =>{:action => "update", :id =>@album, :name =>@artist} do |f| %>
			<p>Title: <%= f.text_field 'title' %></p>
			<p>Artist: <%= f.text_field 'artist' %></p>
			<button type="button" class="btn btn-primary"><%= link_to "Submit", action: "update" %>
			</button>

			<% end %>

			<button type="reset" class="btn btn-secondary"><%= link_to 'Cancel', action: "show" %></button>

			
	</center>
	

</body>
</html>