<!DOCTYPE html>
<html>
<head>
  <title>Albums</title>
</head>
<body> 

  <br>  
  <div class="container">

    <h3>Album List  
    <label class="d-inline p-1 bg-primary text-white rounded-pill "><%= Album.count %></label>       
    <p class="text-secondary">Click name to see tracks.</p></h3>

    <form class="form-inline my-2 my-lg-0">
      <div class="text-nowrap bd-highlight">
        Search for:
      </div>
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">

      <%= form_for @artist, :url =>{:id =>@artist} do |f| %>
       <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Artist</span>
          </div>
          <%= f.collection_select(:artist, Artist.all, :id, :name) %>
        </div>
    </div>

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="row">
      <div class="list-group">

        <% end %>

        
  <!-- CRIANDO AS DUAS COLUNAS DE ALBUM E ARTISTA -->

  <table class="table table-bordered table-hover" >
  <thead>
    <tr>
      <th scope="col1">Album</th>
      <th scope="col2">Artist</th>
    </tr>
  </thead>
  
<!-- PREECHENDO A TABELA COM ALBUM E ARTISTA -->

  <% @albums.each do |album| %>
    <tr>
      <td><%= link_to album.title, album %></td>
      <td><%= album.artist.name %></td>
    </tr>
  </tbody>
    <% end %>
</table>


      </div>  
    </div>
  </div>
</body>
</html>

